{% extends "base.html" %}

{% load i18n %}
{% load in_group from utils %}

{% block head_title %}{{ block.super }} | {{ proposal.title }}{% endblock %}

{% block content %}
<div id="proposal">
  <h2>{{ proposal.title }}</h2>
  <div class="speaker">
    {{ proposal.speaker.get_full_name }} / 
    {% with proposal.audience.name as audience_name %}
      <span class="label {{ audience_name|lower }}">
        {{ audience_name }}
      </span>
    {% endwith %}

    {% if not proposal.is_approved and request.user|in_group:"moderator" %}
      / <span class="label {{ proposal.status }}">{{ proposal.status }}</span>
    {% endif %}
  </div>

  <h3>{% trans "Description" %}</h3>
  <p>{{ proposal.description }}</p>

  <h3>{% trans "Abstract" %}</h3>
  <p>{{ proposal.abstract }}</p>

  {% if not proposal.is_approved and request.user|in_group:"moderator" %}
    <div class="actions">
      <a href="{% url proposal_list %}?approve={{ proposal.id }}&next={% url proposal_details proposal.slug %}" class="btn btn-small approve">{% trans "Approve" %}</a> 
      <a href="{% url proposal_list %}?decline={{ proposal.id }}&next={% url proposal_details proposal.slug %}" class="btn btn-small decline">{% trans "Decline" %}</a>
    </div>
  {% endif %}

</div>
{% endblock content %}
