{% extends "base.html" %}

{% load i18n templatetag_handlebars %}
{% load coffee from assetstoolkit %}

{% block head_title %}{{ block.super }} | {% trans "Schedule Proposals" %}{% endblock %}

{% block head %}
  {% verbatim %}
    <script id="schedule-template" type="text/x-handlebars-template">
      <div id="schedule">
        {{#each dates}}
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>{{this}}</th>
              {{#each ../tracks}}
                <th>{{this}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
          {{#each ../hours}}
            {{#each this}}
              <tr>
                <td>{{this}}</td>
                {{#each ../../../tracks}}
                  <td>--</td>
                {{/each}}
              </tr>
            {{/each}}  
          {{/each}}
          </tbody>
        </table>
        {{/each}}
      </div>
    </script>
  {% endverbatim %}
{% endblock head %}

{% block content %}
<div id="schedule-proposals">
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% coffee 'src/schedule.coffee' %}"></script>
<script type="text/javascript">
  $(function() {
    Schedule.start();
  })
</script>
{% endblock javascript %}
